@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body,
.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}



.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.quote {
  font-size: 1.2em;
  color: #432e26;
  text-align: center;
}

.to-do-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.input-card {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
}

.input-field {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.add-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #432e26;
  color: #ffffff;
  cursor: pointer;
}

.add-button:hover {
  background-color: #4d261f;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.task-content {
  display: flex;
  align-items: center;
}

.task-text {
  flex: 1;
  margin-left: 8px;
}

.task-completed {
  flex: 1;
  margin-left: 8px;
  text-decoration: line-through;
}

.task-buttons {
  display: flex;
}

.button {
  border: none;
  background: none;
  color: #2e140c;
  cursor: pointer;
  margin-left: 8px;
  outline: none;
}

.button:hover {
  color: #c26e1b;
}

.delete-button {
  margin-right: 20px;
  /* Adjust this value to create the desired gap */
}