body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, hwb(0 13% 87%), #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: linear-gradient(to bottom, #ffffff, hwb(0 0% 100%));
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 70px;
  width: 600px;
}

.card ol {
  list-style-type: none;
  padding: 0;
}

.card ol li {
  padding: 20px;
  background: linear-gradient(to bottom, hwb(0 0% 100%), #000000);
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
  border: none;
}
.card ol li .edit {
  background: linear-gradient(to bottom right, hwb(186 0% 0%), #000000);
  color: white;
  padding: 10px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 36px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, hwb(303 0% 69%), #000000); */
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}

li span {
  flex-grow: 1;
}

.card ol li .delete {
  background: linear-gradient(to bottom right, hwb(0 0% 0%), #000000);
  color: white;
  padding: 10px;
}

.card ol li .move-up {
  background: linear-gradient(to bottom right, hwb(186 0% 0%), #000000);
  color: white;
  padding: 10px;
}

.card ol li .move-down {
  background: linear-gradient(to bottom right, hwb(186 0% 0%), #000000);
  color: white;
  padding: 10px;
}

.card ol li button:hover {
  background-color: #333333;
}

.card ol li button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.input-card {
  background: linear-gradient(to bottom, hwb(0 0% 100%), #000000);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 558px;
  margin-bottom: 20px;
}

.input-card .input-container {
  display: flex;
  align-items: stretch;
}

.input-card .input-container input[type="text"] {
  flex-grow: 1;
  background: linear-gradient(to bottom right, #ffffff, #646464);
  padding: 20px;
  border: 1px ;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  outline: none; 
}

.input-card .input-container button.add-button {
  padding: 15px 20px;
  border: none;
  background: linear-gradient(to bottom right, #09ff00, #000000);
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
